__pycache__
*.pyc
raw
data
fast-geoip-ts/node_modules
fast-geoip-ts/build
fast-geoip-ts/tests/mock_data/*.js
fast-geoip-ts/npm-debug.log
geolite.zip
fast-geoip-rs/debug/
fast-geoip-rs/target/
fast-geoip-rs/params.json

fast-geoip-rs/Cargo.lock

**/*.rs.bk

**/*.pdb
